@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Your Background */
    background: url("./images/wp5804413.webp") 
    no-repeat center/cover;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.todo-app {
    width: 100%;
    max-width: 450px;
    padding: 25px;
    text-align: center;
    color: white;

    border-radius: 20px;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.todo-app h1 {
    font-size: 2rem;
    font-weight: 600;
}

/* INPUT AREA */
.input-area {
    display: flex;
    width: 100%;
}

.input-area input {
    flex: 1;
    padding: 12px 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 1rem;

    background: rgba(255,255,255,0.25);
    color: white;
}

.input-area input::placeholder {
    color: #e3e3e3;
}

.input-area button {
    margin-left: 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1.2rem;

    border: none;
    color: white;
    background: rgba(255,255,255,0.25);
    cursor: pointer;
    transition: 0.2s ease;
}

.input-area button:hover {
    transform: scale(1.1);
    background: #ff6f91;
}

/* TASK LIST */
#task-list {
    width: 100%;
}

#task-list li {
    background: rgba(255,255,255,0.22);
    padding: 10px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: white;
    font-size: 1.1rem;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 12px;
}

li.completed span {
    text-decoration: line-through;
    opacity: 0.6;
}

/* BUTTONS INSIDE TASK */
.task-buttons {
    display: flex;
    gap: 10px;
}

.task-buttons button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: white;
    background: rgba(255,255,255,0.25);
    transition: 0.2s;
}

.task-buttons button:hover {
    transform: scale(1.15);
}

.edit-btn {
    background: #ffbf00;
}

.delete-btn {
    background: #ff5a7d;
}

/* EMPTY IMAGE */
.empty-image {
    width: 180px;
    opacity: 0.8;
    margin-top: 20px;
}
